# https://www.gnu.org/software/inetutils/manual/html_node/The-_002enetrc-file.html
# https://ec.haxx.se/usingcurl/usingcurl-netrc
machine review.opendev.org
login joe
password foo
machine review.rdoproject.org
login joe
password foo
